<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: orange;
            font-family: verdhana;
            color: #fff;
            padding: 40px;

        }

        p {
            font-size: 16px;
            text-align: center
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1 style="background:yellow;color:darkblue;text-align:center">
            Welcome to Sivakumar Infotek (Home Page)
        </h1>
    </div>
    <% include partials/nav.ejs %>
    <p>We offer Corporate Services</p>
</body>
</html>