<!DOCTYPE html>
<html>

<head>
    <title>Node case study</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>

<body class="well">
    <h1 class="text-success">
        Welcome to Node with Express Project by Sivakumar
    </h1>
</body>

</html>